*{
    font-family: 'Dosis', sans-serif;
}

body {
    margin: auto;
    padding: 0;
    max-width: 1600px;
}

#gridContainer {
    display: grid;
    grid-template-areas: "header header header" "main main main" "footer footer footer"; 

}


/* Header index */

    #indexHeader {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header a img{
    width: 150px;
    height: 150px;
    margin-right: auto;
    text-align: center;
}

nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-right: 35px;
    
}

nav ul li {
    padding: 10px;
}

.navHeader{
    display: flex;
    text-align: center;
    background-color: #ffffff;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
}

#underline {
    text-decoration: underline;
    color: #000000;
    text-decoration-color: #e6bd43;
    font-weight: bolder;

}

.navHeader a{
    color: #000000;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
    font-size: 17px;
}

#contactNav:hover{
    background-color: #000000;
    color: #e6bd43;
}

#contactNav {
    background-color: #e6bd43;
    color: black;
    font-weight: bolder;
  }

/* Video */

#headline {
    width: 100%;
}

.videoContainer {
    position: relative;
    margin-top: 20px; 
}

#bgVideo {
    width: 100%;
    height: 400px;
    object-fit: cover;
    position: relative; 
    display: none;
}


.videoText {
    position: absolute;
    font-size: 18px;
    top: 0%;
    color: black;
    text-align: center;
    justify-content: center;
    max-width: fit-content;
    max-height: fit-content;
    background-color: rgba(245, 245, 245, 0.4);
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.videoText p, h1{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.videoText p {
    max-width: 80%;
    margin: auto;
    padding: 1rem;
    
}

.videoText button{
    width: 200px;
    height: 50px;
    background-color: #e6bd43;
    font-size: 17px;
    font-weight: bold;
    border: none;
}

.videoText button:hover{
    background-color: #000000;
    color: #e6bd43;
}

/* Main Index */

#indexMain{
    display: flex;
    flex-direction: column;
    grid-area: main;
}

#subhead{
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 50%;

}

#subhead h1{
    font-size: 32px;
    margin-top: 50px;
}

#subhead p {
    font-size: 18px;
}

#aboutCompany {
    margin: auto;
    margin-top: 50px;
    padding: 3rem;
    background-color: #e6bd43;
    flex-direction: column;
    text-align: center;
    max-width: fit-content;
}

#aboutCompany p{
    margin: auto;
    max-width: 40%;
}

#aboutCompany img{
    padding: 2rem;
    max-width: 300px;
    max-height: 300px;
}

#aboutCompany button{
    border: 4px black solid;
    background-color: #e6bd43;
    margin-top: 10px;
    height: 75px;
    width: 175px;
    font-size: 18px;
    font-weight: bold;
}

#aboutCompany button:hover{
    background-color: #000000;
    color: #e6bd43;
}

#ourServices{
    text-align: center;
    margin: auto;
    max-width: fit-content;
}

#ourServicesHeader{
    display: flex;
    padding: 1rem; 
    justify-content: center;

}

#grayEmail {
    flex-direction: column;
    text-align: center;
    background-color: #ddd;
    padding-bottom: 75px;
}

#emailBox{
    margin-top: 50px;
    height: 125px;
    
}

#emailForm{
    gap: 0;
}

#email{
    margin-top: 15px;
    font-size: 20px;
    border: none;
    margin-left: 20px;
}

#emailBox label{
    font-size: 32px;
    margin-top: 50px;
}

#emailBox button{
    background-color: #e6bd43;
    border: none;
    font-size: 18px;
    padding: 16.5px;
}

#emailBox button:hover{
    background-color: #000000;
    color: #e6bd43;
}

form input{
    padding: 7px;
}
/* footer index */

#footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
}




/* Products */
/* Header */

  .PortfolioOverlay {
    position: absolute;
    background-color: rgba(245, 245, 245, 0.4);
    width: 100%;
    height: 100%;
  }

  .PortfolioOverlay h1 {
    position: relative;
    top: 5%;
  }

/* Product main */
#productHeader{
    grid-area: main;
    position: relative;;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

#productHeader img {
    display: block;
    width: 100%;
    height: auto;
}

hr {
    height: 2px;
    background-color: #e6bd43;
    border: none;  
    max-width: 70%; 
    width: 60%;
    margin-left: 50px;
    margin-bottom: 40px;
}

#productMain h2 {
    margin-left: 50px;
}

#productMain p {
    margin-left: 50px;
}

#jobBtn {
    display: flex;
    flex-wrap: wrap;
    max-width: 99%;
    overflow: hidden;
}

#jobBtn li {
    margin: 10px;
}

#jobBtn a {
    display: flex;
    background-color: white;
    border: 2px black solid;
    padding: 1rem;
    text-decoration: none;
    color: #000000;
}

#jobBtn a:hover {
    background-color: #000000;
    color: #e6bd43;
}

#jobBtn ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-right: 205px;
    
}

#developmentBtn {
    display: flex;
    background-color: white;
    border: 2px black solid;
    padding: 1rem;
    text-decoration: none;
    color: black;
    max-width: 85px;
    
}

#productImg img {
    max-width: 692px;
    width: 80%;
    margin-left: 50px;
}

/* footer */

#companyRights{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #252525;
    color: white;
    text-align: center;
    align-items: center;
}

#companyRights p {
    display: flex;
    align-items: center;
}

#companyRights img {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 100px;
    max-height: 110px;
    margin-top: 40px;
}


#footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
}

#footer p {
    flex-direction: column;
}

.footerIcon {
    grid-area: footer;
    display: flex;
    gap: 30px;
    font-size: 40px;
    text-decoration: none;
    margin-left: 10px;
    padding-bottom: 20px;
}

.social-icon{
    color: #fff;
    text-decoration: none;
}

#arrow-up {
    position: fixed;
    bottom: 15px;
    right: 16px;
    color: white ;
    text-decoration: none;
    padding: 10px;
    font-size: 40px;
    background-color: #252525;
}

/* About */
/* Header */

#AboutsHeader {
    grid-area: header;
    position: relative;
    width: 100%;
    max-width: 100%;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    background-image: url("../img/image17002315350.jpg");
}


.textOverlay {
    width: 70%;
}

.overlayText {
    background: rgba(245, 245, 245, 0.94);
    color: #000000;
    padding: 20px;
    box-sizing: border-box;
    max-width: 100%;
    width: 80%;
    margin: 20px auto;
    margin-bottom: 20px;
    text-align: center;
}

#companyName {
    color: #000000;
    font-size: 18px; 
    font-weight: lighter; 
    margin-bottom: 10px;
    text-align: left;    
}

#companyDescription {
    color: #000000;
    font-size: 24px; 
    font-weight: bold; 
    margin-bottom: 20px;
    text-align: left;
    max-width: 60%;
}

.overlayText p {
    font-size: 1em; 
    margin-bottom: 0; 
}

.contactButton {
    display: inline-block;
    background-color: #e6bd43;
    color: #000000;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    max-width: 100px;
    text-align: left;
}

.contactButton:hover {
    background-color: #000000;
    color: #e6bd43;
}

/* Main */

#aboutMain {
    grid-area: main;

}

#clients {
    display: flex;
    flex-direction: column;
    background-color: #e6bd43;
    align-items: center;
    padding: 2rem;
}

#clientsLogo{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

#clientsLogo img{
    margin: 9px;
}

#contact-Us h2, h3, label, input, textarea {
    margin-left: 40px;
}

#contact-Us h2{
    text-align: center;
}

#contact-Us {
background-color: #f4f4f4;
padding-bottom: 10px;
}

#contact-Us form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

form input, textarea {
    border: none;
    padding: 15px;
}

#message {
    margin-bottom: 20px;
}

label {
    margin-top: 15px;
}

#user-name {
    margin-top: 0px;
}

#submit {
    display: flex;
    align-items: flex-start;
    max-width: 110px;
    background-color: #e6bd43;
    color: black;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 14px;
}

#submit:hover{
    background-color: #000000;
    color: #e6bd43;
}

#contactInformation {
    margin: 40px;
    display: flex;
    flex-direction: column;
}

#contactInformation span {
    padding: 10px;
    font-size: 18px;
}

#bra-veien {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#bra-veien i {
    margin-right: 30px;
    font-size: 20px;
    color: #606060;
}

#bra-veien span {
    margin-left: 5px;
}

#telephone {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#telephone i {
    margin-right: 30px;
    font-size: 20px;
    color: #606060;
}

#emailInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
}

#emailInfo i {
    margin-right: 30px;
    font-size: 20px;
    color: #606060;
}

#googleMaps iframe {
    width: 100%;
    max-height: 100%;
    height: 300px;
    margin-bottom: 0;
}
/* Footer */



#aboutFooter {
    grid-area: footer;
}




/* Media for desktop */
@media screen and (min-width: 600px) {

    #gridContainer {
        grid-template-areas: "header header header" "main main main" "footer footer";
    }

    #indexHeader{
        grid-column: 1 / 4;
    }

    #mainIndex {
        grid-column: 1 / 4;
    }

    header a{
        margin-right: auto;
    }

    #footerIndex {
        grid-column: 1 / 4;
    }

    #productsHeader {
        grid-column: 1 / 4;
    }

    #productMain {
        grid-column: 1 / 4;
    }

    #footerProducts {
        grid-column: 1 / 4;
    }

    #aboutHeader {
        grid-column: 1 / 4;
    }

    #aboutMain {
        grid-column: 1 / 4;
    }

    #aboutFooter {
        grid-column: 1 / 4;
    }

    .navHeader{
        flex-direction: row;
        text-align: center;
        width: 100%;
    }

    .navHeader ul{
        flex-direction: row;
        align-items: center;
    }

    .videoText h1{
        font-size: 30px;
    }

    .videoContainer video {
        display: block;
        width: 100%;
        height: 400px;
        object-fit: cover;
        
    }

    .videoContainer img {
        display: none;
    }

    .videoText {
        display: block;
    }

    .videoText p, h1{
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
    
    .videoText p {
        max-width: 60%;
        margin: auto;
        padding: 20px;
        
    }

    #bgVideo {
        display: block;
    }

    #aboutCompany {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    #aboutCompanytext{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #aboutButton{
        margin: auto;    
        padding: 1rem;
    } 

   .fa-icon {
    display: flex;
    flex-direction: column;
    margin: auto;
   } 

   #ourServices {
    display: flex;
    flex-direction: row;
    gap: 40px;
    text-align: center;
    margin: auto;

   }

   /* Products */

    #headerTekst {
    position: absolute;
    margin: auto;
    margin-top: 100px;
    font-size: 40px;
   } 

   .PortfolioOverlay {
    max-width: 100%;
    font-size: 30px;
   }

   .PortfolioOverlay h1 {
    position: relative;
    top: 40px;
  }


   #companyRights{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #252525;
    color: white;
    text-align: center;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
    }

    #companyRights p {
        margin-left: 100px;
    }

    #companyRights img {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 80px;
    max-height: 110px;
    margin-top: 10px;
    margin-left: 20px;
    }

    #jobBtn {
        flex-wrap: nowrap; 
        align-items: center;
    }

    #jobBtn li {
        width: auto; 
    }

    
    #productHeader img {
        width: 100%;
        height: 320px; 
        object-fit: cover; 
    }


    
    
    #brandingImg :hover,
    #designImg :hover,
    #developmentImg :hover{
        transform: scale(1.05); 
        transition: transform 0.3s ease; 
    }
    
    #brandingImg,
    #designImg {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 30px;
        margin-bottom: 20px; 
        
    }

    #developmentImg {
        display: flex;
        flex-direction: row;
        max-width: 80%;
        margin-bottom: 20px;
        gap: 40px;
    }
     

    #developmentImg img {
        max-width: 100%;
        margin-right: 10px;
    }


    #bilde1 {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-bottom: 10px;
    }

    #bigPicture :hover{
        transform: scale(1.05); 
        transition: transform 0.3s ease; 
    }

    .footerIcon{
        margin-top: 20px;
        margin-right: 80px;
        font-size: 40px;
    }

    .social-icon a{
        color: #000000;
        text-decoration: none;
    }

    .fa-solid.fa-arrow-up {
        right: 180px;
        top: 920px;
    }

    /* About */

    .overlayText {
        float: right;
        margin-right: 40px;
    }

    #AboutsHeader{
        display: flex;
        justify-content: right;
        float: right;
        position: relative;
        width: 100%;
        max-width: 100%;
        min-height: 60vh;
        background-size: cover;
        background-position: center;
    }


    #contact-Us{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #contact-Us form, #contactInformation{
        max-width: 500px;
        width: 50%;
    }

    #contactInformation {
        display: flex;
    }

    
}
    
/* Media for mobile */
@media screen and (max-width: 600px) {

    #gridContainer {
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
    }

    .videoContainer video {
        display: none;
    }

    .videoContainer img {
        display: block;
        width: 100%;
        height: auto;
    }

    .videoText button {
        width: 150px;
        height: 40px;
        font-size: 12px; 
    }

    #bgVideo {
        display: none;
    }

    /* Tekst under video */

    #subhead{
        max-width: fit-content;
    }

    #subhead h1{
        font-size: 24px;
    }

    #subhead p{
        font-size: 20px;
    }

    /* Footer */

    .footerIconIndex {
        display: none;
    }

    #companyRightsIndex p {
        display: none;
    }

    #companyRightsIndex img {
        display: flex;
        justify-content: center;
    }
}
